{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="categories column column-25">
		<div class="categories__list">
			<h6 class="list__header">
				<span class="header__title">Movie Categories</span>
				<span class="header__bar"></span>
			</h6>
			<ul class="list__items">
				{% for genres in moviegenres %}
				<a href="{{url_for('showGenre', genre_id = genres.id )}}">
					<li class="items__item">
						<span class="item__name">{{genres.genre}}</span>
					</li>
				</a>
				{% endfor %}
			</ul>
			{% if 'username' in session %}
			<a href="{{url_for('addGenre')}}" class="button u list__add">Add Genre</a>
			{% endif %}
		</div>
	</div>

	<div class="latest column column-75">
		<div class="latest__list">
			<h6 class="list__header">
				<span class="header__title">Latest Items</span>
				<span class="header__bar"></span>
			</h6>
			<ul class="list__items">
				{% for movie in movies %}
				<a href="{{url_for('showMovie', genre_id = movie.movie_category_id ,movie_id = movie.id )}}">
					<li class="items__item">
						<span class="item__name">{{movie.name}}</span>
						<span class="item__type">({{movie.moviecategory.genre}})</span>
					</li>
				</a>
				{% endfor %}
			</ul>

			{% if 'username' in session %}
			<a href="{{url_for('addMovie')}}" class="button u list__add">Add Movie</a>
			{% endif %}
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<p class="flash__message">{{ message }}</p>
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>
	</div>
</div>

{% endblock %}